body {
  background: #e3f2fd;
  color: #000000;
}
#map {
  width: 75%;
  height: available;
  display:block;
  position: absolute; top:10%; bottom:0; right:0; left:0;
}
#info {
  width: 20%;
  height: available;
  display:block;
  overflow:auto;
  position: absolute; top:10%; bottom:0; right:0; left:76%;
}
h1 {
  font-weight: 700;
  font-family: Georgia, Times, serif;
  font-stretch: semi-condensed;
  font-style: oblique;
}
p {
  font-family: Georgia, Times, serif;
  font-stretch: semi-condensed;
  font-style: oblique;
  line-height: 1;
}